<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="login-box">
            <center>
            <h1>YOU ARE NOW AUTHORISED!!!!, WELCOME {{data.user}}</h1>
            <img src="{{data.photo}}" style="width: 80%;"alt="">
        <p>FACE USED FOR LOGIN, AT {{data.logtime}} IST</p>
    </center>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>