<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login ISM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="login-box">
        <form action="/getOTP" method="post">
            <div class="user-box">
            <input type="text" name="number" placeholder="+91 * * *">
            <label for="">Enter Mobile Number</label></div>
            <button type="submit"><a>Get OTP</a></button>
        </form>
    </div>
        <script src="" async defer></script>
    </body>
</html>